fastapi
uvicorn[standard]
pymongo[srv]
motor
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
python-multipart
pydantic
pydantic-settings
typing_extensions
python-dotenv
pydantic[email]
cloudinary
aiosmtplib
jinja2
hijri-converter
requests
httpx
pytz
timezonefinder
praytimes