fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg[binary]
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
typing_extensions
python-dotenv
requests
aiofiles
apscheduler
praytimes
hijri-converter
timezonefinder
httpx
aiocache
pydub
plyer
pytz
pygame
pydantic[email]
aiosmtplib
jinja2
asyncio